.container {
  padding: 1.5rem;
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff7f1;
  border-radius: 12px;
  font-family: "Pretendard", sans-serif;
}

.componentTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #7b4bff;
  margin-bottom: 0.5rem;
}

.dateRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.datePickerWrapper {
  margin-bottom: 1rem;
}

.dateText {
  font-size: 1rem;
  font-weight: 500;
}

.editBtn {
  background-color: #ffb26b;
  border: none;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
}

.textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  resize: vertical;
  background-color: #fff;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 1rem;

  input {
    margin-right: 0.5rem;
  }
}

.label {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
  display: block;
  margin-top: 1rem;
}

.select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
}

.submitBtn {
  background: #fda172;
  color: white;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 1.5rem;
  cursor: pointer;
  margin-bottom: 24px;
}

.selectedFriendBox {
  width: 100%;
  padding: 0.75rem;
  border: 1px dashed #aaa;
  border-radius: 8px;
  background-color: #fff;
  font-size: 0.95rem;
  color: #333;
  margin-top: 0.25rem;
}

.todayLink {
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  color: #f97316;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
